<%= form_for(@game) do |f| %>
<% if @game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

  <ul>
    <% @game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :opponent_id, 'Who would you like to play?' %><br>
  <%= hidden_field_tag 'game[user_id]', current_user.id %>
  <%= f.collection_select :opponent_id, User.all, :id, :email %>
</div>
<div class="actions">
  <%= f.submit 'Start' %>
</div>

<% end %>
