<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>
<P>"CURRENT USER" 
<%  current_user  %>
</P>
<table>

<%= link_to 'New Game', new_game_path %>

  <thead>
    <tr>
      <th>User</th>
      <th>Opponent</th>
      <th>Diff</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user_id %></td>
        <td><%= game.opponent_id %></td>
        <td><%= game.diff %></td>
        <td><%= game.result %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


