<p id="notice"><%= notice %></p>


<!-- <p>whosmove is <%= @game.whosmove  %></p> -->

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent_id %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @game.diff %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>GameNumber:</strong>
  <%= @game.id %>
</p>

<table>
<% table = (0..8).to_a %>
<% table.each_slice(3) do |slice| %>
<tr>
  <% slice.each do |cell| %>
  <td>
    <% if @game.moves.find_by_number(cell) && @game.moves.find_by_number(cell).user_id == @game.user_id %>
    <%= "x" %>
    <% elsif @game.moves.find_by_number(cell) && @game.moves.find_by_number(cell).user_id == @game.opponent_id %>
    <%= "o" %>
    <% else %>
    <%= " " %>
    <% end %>
  </td>
  <% end %>
</tr>

<button>
<% cell = 3 %>
<%= link_to "EMPTY", moves_path(game_id: @game.id, value:cell), method: :post %>
</button>

<% end %>
  
</table>










<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
