<p id="notice"><%= notice %></p>


<p><%= @game.whosmove  %></p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent_id %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @game.diff %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
