<p id="notice"><%= notice %></p>


<p><%= @game.whosmove  %></p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent_id %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @game.diff %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<table class="nactable"style="width:100%">
  <tr>
    <td>x</td>
    <td>x</td> 
    <td>x</td>
  </tr>
  <tr>
    <td>x</td>
    <td>x</td> 
    <td>x</td>
  </tr>
  <tr>
    <td>x</td>
    <td>x</td> 
    <td>x</td>
  </tr>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
